#form.container {
  width: 550px;
  padding: 15px;
  background: #e5edf9;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 200;
}

#form.container label {
  font-weight: 400;
}

.checkbox {
  font-size: 13px;
}

.btn {
  margin: 10px;
  width: 100px;
  font-size: 17px;
  border-radius: 4px;
  border: 0.5px solid #aaa;
}

.btn:hover, input:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 5px 15px 0 rgba(0,0,0,0.19);
}

#register {
  text-align: center;
}
