<body id="catalogue">
    <nav class="navbar navbar-default">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand" href="Home.html">Code & Work</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="Catalogue.html">Catalogue</a></li>
            <li><a href="MyCourses.html">My courses</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="User.html">Profile</a></li>
                <li><a href="MyCourses.html">My courses</a></li>
                <li><a href="UserChange.html">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <ol class="courseList">
        <li class="course JsJunior">
          <a href="#">
            <img src="https://stepik.org/media/cache/images/courses/2223/cover_CjHmdwG/086357ce75cc9410abf16f8d2f0e824a.png" alt="Logo">
          </a>
          <ol id="course1">
            <li class="owner">
              <a href="https://sigma.software/">Sigma Software</a>
            </li>
          </ol>
          <a href="#">JavaScript. Junior developer</a>
        </li>
        <li class="course CppJunior">
          <a href="#">
            <img src="https://stepik.org/media/cache/images/courses/363/cover/c0e235513f7598d01f96ccc8a27c25a5.jpg" alt="Logo">
          </a>
          <ol id="course2">
            <li class="owner">
              <a href="https://www.nixsolutions.com/">Nix Solutions</a>
            </li>
          </ol>
          <a href="#">C++. Junior developer</a>
        </li>
      </ol>
    </div>

    <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </body>
